.text-name{
    background: rgba(0, 0, 0, 0.8);
    border: none;
    margin-top: 10px;
}

.text-name h1{
    color: rgb(225, 253, 63);
    font-family: "Bangers", cursive;
    text-shadow: 3px 8px 12px black;
    margin-top: 0px;
    letter-spacing: 2px;
}